.category-container {
    color: darkgray;

}

.category-date {
    display: flex;
    font-size: 17px;
    margin: 10px;
    font-weight: 400;
}

.category-title {
    font-size: 35px;
    font-weight: 500;
    margin: 0 10px 0 15px;
}

.date {
    margin: 5px 5px 5px 15px;
}

.date::before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    height: 0.3rem;
    width: 0.3rem;
    margin: 0 0.5rem 0.2rem 0;
    background-color: #bdbdbd;
}

.add-category {
    margin: 5px;
}