.notes-container {
    background-color: rgba(255, 100, 157, 0.2);
    border-color: rgb(255, 100, 157);
    border-radius: 20px;
    border-width: 2px;
    border-style: dashed;
    width: 80%;
}

.notes-button {
    background: none;
    border: none;
    cursor: pointer;
    width: 100%;
}

.text-notes>input {
    border-style: none;
    outline: none;
    width: 95%;
    background-color: transparent;
    color: rgb(255 100 157);
    font-size: 15px;
    margin-left: 2%;
}

.text-notes>input::placeholder {
    color: rgb(255 100 157);
}