.note-container {
    color: #6495ed9c;
    background: aliceblue;
    border-radius: 5px;
    padding-left: 5px;
    margin: 10px;

}

h3.note-value {
    margin: 15px;
    font-size: 20px;
}

.tag-notes-list {
    display: inline-flex;
    list-style: none;
    padding: 0 5px 5px 5px;
    margin: 0;
}

h3.note-value-title {
    margin: 0;
    padding: 5px;
}

h6.note-value-description {
    margin: 0;
    padding: 5px;
}

.li-notes-tags {
    color: #0000005e;
    margin: 5px;
    border-radius: 5px;
    background-color: white;
    padding: 5px;
}