.set-new-notes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff649d33;
    width: 100%;
    height: 110px;
    border-color: rgb(255 100 157);
    border-radius: 20px;
    border-width: 2px;
    border-style: dashed;
}
